#headline{
    text-align: center;
    color: #761c19;
    font-family: "Palatino Linotype", Helvetica,monospace;
}
h2{
    margin-left: 10%;
    margin-right: 10%;
    color: sienna;
}
h3{
    margin-right: 10%;
    text-align: right;
}
body{
    background-color: #c7ddef;
    background-image: url("../img/backkarlie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
.classh4{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    text-indent: 4ch;
    line-height: 150%;
    white-space: normal;
}
#h4in{
    text-decoration-line: underline;
    text-decoration-color: #eea236;
    text-transform: capitalize;

}
ul.a{
    list-style-type: circle;
}
ol.b{
    list-style-type: upper-roman;
}
table,td,th{
    border: 3px solid mediumpurple;
    text-align: center;
    height: auto;
    width: auto;
}
th{
    background-color: #eea236;
    color: #2e6da4;
}
p.listp{
    padding: 5px 0px ;
    margin-right:80%;
    margin-top: 5px;
    border: solid;
    background-color: #7e7b7c;
}
span.listnm{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 1px;
    padding-right: 1px;
    border: inherit;
    background-color: #2e6da4;
}
dt.tor{
    display: none;
}
dt,dd{
    display: inline;
}